* {
    color: white !important;
}
body {
    background-color: blue;
    background: fixed;
    background-image: url(https://i.imgur.com/JYcCbZv.png);
    
}
.container img {
    width: 100%;
    height: 100%;
}
.card {
    width: 15rem;
    padding: 10px;
}
.card img {
    width: 45%;
    margin: 0 auto;
}
.card-body button {
    margin: 0 auto;
}
/* .back{F
    background-color: pink;
} */
.main {
    margin: 0 auto;
    background-color: #141d26;
    width: 90%;
    /* height: 100vh; */
}
/* .carousel {
    width:800px;
    height:400px;
} */
.main .container-fluid {
    width: 100%;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}
.dropdown-item {
    color: black !important;
}

.carousel-caption h5 {
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* esto y el de abajo pone border a la letra asi se ve en fondos que no son del mismo color */
}

.carousel-caption p {
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* esto y el de abajo pone border a la letra asi se ve en fondos que no son del mismo color */
}

.use-ajax{
    display: none;
}