.card a {
    /* background-color: red !important; */
}

* {
    color: white !important;
}
.card {
    width: 18rem;
}

.back{
    background-color: pink;
}

.navbar {
    width: 90%;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    background-color: #141d26;
    width: 90%;
    height: 100vh;
}